.App {
  text-align: center;
}
 .background {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
  }
.bold {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20%;
}
.drop{
  margin-right: 10%;
}
.bold1{
  font-weight: bold;
  font-size: 20px;
  margin-right: 18%;
}
.name{
  margin-right: 9%;
  width: 80%;
}
.bold2{
  font-weight: bold;
  font-size: 20px;
  margin-right: 19%;
}
.comment{
  margin-right: 9%;

}
.btn{
  margin-right: 9%;
  width: 50%;
}
form {
  border:2px solid rgb(50, 2, 59); 
   padding: 50px;
} 
h1{
  font-size:xx-large;
  font-weight: bold;
  color:gold;
}
.red{
  color: rgb(226, 12, 12);
}